
<form class="text-center border border-light p-5" action="#!">

    <p class="h4 mb-4">Expenses</p>

</form>    

    <input type="text" placeholder="search" (keyup)="getExpenseList()" [(ngModel)]="filterText" >
    <select id="filter" class="filter custom-select" style="width: auto"  [(ngModel)]="filterName" (change)="getExpenseList()"  >
        <option value="createdAt">Date</option>
        <option value="amount">amount</option>
    </select>    

    <!-- <input class="form-control" placeholder="yyyy-mm-dd"
    name="dp" [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (dateSelect)="getExpenseList()" >

    <input class="form-control" placeholder="yyyy-mm-dd"
    name="dt" [(ngModel)]="toDate" ngbDatepicker #t="ngbDatepicker" (click)="t.toggle()" (dateSelect)="getExpenseList()" > -->

    <input type="date" [(ngModel)]="date1" name="date1" (change)="getExpenseList()" />

    <input type="date"  [(ngModel)]="date2" name="date2" (change)="getExpenseList()" /> 
    


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expens of expenses">
                <td>{{ expens.description }}</td>
                <td>{{expens.createdAt | date:'mediumDate' }}</td>
                <td>{{expens.amount}}</td>
                <td> <button class="btn btn-link" routerLink="/user/{{ expens.userId }}/expense/{{ expens.id }}" routerLinkActive="active">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Expense List</div>
        <div class="card-body"  *ngFor="let expense of expenses">
          <h5 class="card-title">{{ expense.description }}</h5>
            <div class="display-row">
                <p class="card-text">{{expense.createdAt | date:'mediumDate' }}</p>
                <span class="badge badge-pill badge-warning">{{expense.amount}}</span>
            </div>
        </div>
      </div> -->

    <form class="text-center border border-light p-5" action="#!">

        <button class="btn btn-info btn-block my-4" type="submit" routerLink="/user/{{userId }}/expense/0" routerLinkActive="active">Add Expense</button>

        <button class="btn btn-light btn-block my-4" type="submit" routerLink="/login" routerLinkActive="active">Logout</button>

    </form>